<div class="container">
    <h1 class="text-center" style="color: white;">Update Booking Details</h1>
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <form method="post">
                <div>
                    <label for="flight_from">Flight from :</label>
                    <input type="text"  class="form-control" name="flight_from" id="flight_from" value="{{data.dataValues.flight_from}}">
                </div>
                <div>
                    <label for="flight_to">Flight to :</label>
                    <input type="text"  class="form-control" name="flight_to" id="flight_to" value="{{data.dataValues.flight_to}}">           
                </div>
                <div>
                    <label for="flight_name">Flight name</label>
                    <input type="text" name="flight_name" id="flight_name" class="form-control" value="{{data.dataValues.flight_name}}">
                </div>
                <div>
                    <label for="flight_date">Flight date :</label>
                    <input type="date" class="form-control" name="flight_date" id="flight_date" value="{{data.dataValues.flight_date}}">
                </div>
                <div>
                    <label for="flight_time">Flight time :</label>
                    <input type="time" class="form-control" name="flight_time" id="flight_time" value="{{data.dataValues.flight_time}}">
                </div>
                
                <div class="d-grid mt-4">
                    <button class="btn btn-primary">Save Updates</button>
                </div>
            </form>
        </div>
    </div>
</div>