<h1 class="text-center" style="color: white;">Flight Details</h1>
<div class="container" style="background-color: white;">
    <a href="/create" class="btn btn-primary">+ New Flight</a>
    <table class="table table-striped mt-4">
        <tr>
            <th>Id</th>
            <th>Flight Name</th>
            <th>Flight Type</th>
            <th>Flight Capacity</th>
            <th>Action</th>
        </tr>
        {{#each data}}
        <tr>
            <td>{{this.dataValues.id}}</td>
            <td>{{this.dataValues.flight_name}}</td>
            <td>{{this.dataValues.flight_type}}</td>
            <td>{{this.dataValues.flight_capacity}}</td>
            <td>
                <a href="/update/{{this.dataValues.id}}">Edit</a> |
                <a href="/delete/{{this.dataValues.id}}" class="text-danger" onclick="return confirm('Are you sure you want to delete this')">Delete</a>
            </td>
        </tr>
        {{/each}}
    </table>
    {{!-- <p class="text-end">You are logged in as: 
        <b>{{identity.name}}</b>
    </p> --}}
</div>
