<h1 class="text-center" style="color: white;">Profile</h1>
<div class="container" style="background-color: white;">
    <table class="table table-striped mt-4">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email Id</th>
            <th>Password</th>
            <th>Phone Number</th>
            <th>Action</th>
        </tr>
        {{#each data}}
        <tr>
            <td>{{this.dataValues.id}}</td>
            <td>{{this.dataValues.name}}</td>
            <td>{{this.dataValues.email}}</td>
            <td>{{this.dataValues.password}}</td>
            <td>{{this.dataValues.phone}}</td>
            <td>
                <a href="/profileUpdate/{{this.dataValues.id}}" class="btn btn-primary">Edit Profile</a> |
                <a href="/profileDelete/{{this.dataValues.id}}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this')">Delete Account</a>
            </td>
        </tr>
        {{/each}}
        
    </table>
    <p class="text-end">You are logged in as: 
        <b>{{identity.name}}</b>
    </p>
</div>