<h1 class="text-center" style="color: white;">Schedule Details</h1>
<div class="container" style="background-color: white;">
    <a href="/scheduleCreate" class="btn btn-primary">+ New Schedule</a>
    <table class="table table-striped mt-4">
        <tr>
            <th>Id</th>
            <th>Flight Name</th>
            <th>Flight From</th>
            <th>Flight To</th>
            <th>Flight Date</th>
            <th>Flight Time</th>
            <th>Action</th>
        </tr>
        {{#each data}}
        <tr>
            <td>{{this.dataValues.id}}</td>
            <td>{{this.dataValues.flight_name}}</td>
            <td>{{this.dataValues.flight_from}}</td>
            <td>{{this.dataValues.flight_to}}</td>
            <td>{{this.dataValues.flight_date}}</td>
            <td>{{this.dataValues.flight_time}}</td>
            <td>
                <a href="/scheduleUpdate/{{this.dataValues.id}}">Edit</a> |
                <a href="/scheduleDelete/{{this.dataValues.id}}" class="text-danger" onclick="return confirm('Are you sure you want to delete this')">Delete</a>
            </td>
        </tr>
        {{/each}}
    </table>
    {{!-- <p class="text-end">You are logged in as: 
        <b>{{identity.name}}</b>
    </p> --}}
</div>
